/**
 * author: Di (微信小程序开发工程师)
 * organization: WeAppDev(微信小程序开发论坛)(http://weappdev.com)
 *         垂直微信小程序开发交流社区
 *
 * github地址: https://github.com/icindy/mpParse
 *
 * for: 微信小程序富文本解析
 * detail : http://weappdev.com/t/mpParse-alpha0-1-html-markdown/184
 */

.mpParse {
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 1.8;
}

.mpParse view {
  word-break: hyphenate;
}

.mpParse .inline {
  display: inline;
  margin: 0;
  padding: 0;
}

.mpParse .div {
  margin: 0;
  padding: 0;
}

.mpParse .h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.mpParse .h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
.mpParse .h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
.mpParse .h4 {
  margin: 1.33em 0;
}
.mpParse .h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
.mpParse .h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

.mpParse .h1,
.mpParse .h2,
.mpParse .h3,
.mpParse .h4,
.mpParse .h5,
.mpParse .h6,
.mpParse .b,
.mpParse .strong {
  font-weight: bolder;
}

.mpParse .p {
  margin: 1em 0;
}

.mpParse .i,
.mpParse .cite,
.mpParse .em,
.mpParse .var,
.mpParse .address {
  font-style: italic;
}

.mpParse .pre,
.mpParse .tt,
.mpParse .code,
.mpParse .kbd,
.mpParse .samp {
  font-family: monospace;
}
.mpParse .pre {
  overflow: auto;
  background: #f5f5f5;
  padding: 8px;
  white-space: pre;
  margin: 1em 0px;
}
.mpParse .code {
  display: inline;
  background: #f5f5f5;
}

.mpParse .big {
  font-size: 1.17em;
}

.mpParse .small,
.mpParse .sub,
.mpParse .sup {
  font-size: 0.83em;
}

.mpParse .sub {
  vertical-align: sub;
}
.mpParse .sup {
  vertical-align: super;
}

.mpParse .s,
.mpParse .strike,
.mpParse .del {
  text-decoration: line-through;
}

.mpParse .strong,
.mpParse .s {
  display: inline;
}

.mpParse .a {
  color: deepskyblue;
}

.mpParse .video {
  text-align: center;
  margin: 10px 0;
}

.mpParse .video-video {
  width: 100%;
}

.mpParse .img {
  display: inline-block;
  width: 0;
  height: 0;
  max-width: 100%;
  overflow: hidden;
}

.mpParse .blockquote {
  margin: 5px 0;
  padding: 10px 0 10px 10px;
  font-family: Courier, Calibri, "宋体";
  background: #f5f5f5;
  border-left: 3px solid #dbdbdb;
}
.mpParse .blockquote .p {
  margin: 0;
}

.mpParse .ul, .mpParse .ol {
  display: block;
  margin: 1em 0;
  padding-left: 16px;
}
.mpParse .ol {
  list-style-type: disc;
}
.mpParse .ol {
  list-style-type: decimal;
}
.mpParse .li {
  display: list-item;
  align-items: baseline;
  text-align: match-parent;
}
.mpParse .ul .ul, .mpParse .ol .ul {
  list-style-type: circle;
}
.mpParse .ol .ol .ul, .mpParse .ol .ul .ul, .mpParse .ul .ol .ul, .mpParse .ul .ul .ul {
    list-style-type: square;
}

.mpParse .u {
  text-decoration: underline;
}
.mpParse .hide {
  display: none;
}
.mpParse .del {
  display: inline;
}
.mpParse .figure {
  overflow: hidden;
}

.mpParse .table {
  width: 100%;
}
.mpParse .thead, .mpParse .tfoot, .mpParse .tr {
  display: flex;
  flex-direction: row;
}
.mpParse .tr {
  width:100%;
  display: flex;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.mpParse .th,
.mpParse .td {
  display: flex;
  width: 580px;
  overflow: auto;
  flex: 1;
  padding: 5px;
  border-left: 1px solid #e0e0e0;
}
.mpParse .td:last {
  border-top: 1px solid #e0e0e0;
}
.mpParse .th {
  background: #f0f0f0;
  border-top: 1px solid #e0e0e0;
}
